.chat-user {
  h3 {
    margin: 1rem auto;

    width: 90%;
    font-size: $normal-text;
  }
  ul {
    width: 90%;
    margin: 1rem auto;

    li {
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.37);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      border: 1px solid rgba(255, 255, 255, 0.31);
      width: 200px;
      padding: 1rem;
      margin: 1rem 0;
      font-size: $body-text;
    }
  }
}
